/* styles/LocaleSwitcher.module.css */
.locale-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.locale-switcher-button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background: transparent;
  cursor: pointer;
  font-size: 0.9rem;
}

.locale-switcher-button.active {
  background-color: var(--primary);
  color: white;
}